<!-- mobile_manipulation_teleop.launch -->
<launch>
    <node name="joy"
          pkg="joy"
          type="joy_node" output="screen">
      <param name="dev" value="/dev/input/js0"/>
      <param name="autorepeat_rate" value="10"/>  
      <param name="coalesce_interval" value="0.01"/>      
    </node>

    <!-- Load parameters from the gripper configuration file -->
    <rosparam file="$(find mobile_manipulation_teleop)/config/gripper_config.yaml" command="load"/>

    <!-- Launch the GripperController node -->
    <node name="gripper_server" pkg="mobile_manipulation_teleop" type="gripper_server.py" output="screen">
        <param name="config_file" value="$(find mobile_manipulation_teleop)/config/gripper_config.yaml"/>
    </node>  

    <node name="map_switcher_service" pkg="map_interaction" type="map_switcher_service.py" output="screen"/>
    <node name="map_switch_interactive" pkg="map_interaction" type="map_switch_interactive.py" output="screen"/>

    <node name="vision_to_speech" pkg="mobile_manipulation_teleop" type="vision_to_speech.py" output="screen"/>

    <node name="mobile_manipulation_teleop" pkg="mobile_manipulation_teleop" type="mobile_manipulation_teleop.py" output="screen">
        <param name="config_file" value="$(find mobile_manipulation_teleop)/config/PS3.yaml"/>
    </node>
</launch>
